.header {
    background-color: #121244;
    font-size: 18px;
    position: sticky;
    color: white;
    width: 100vw;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    place-items:center;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.header-login { 
    font-size: 15px;
    width: 100px;
    height:30px;
    background-color: black; 
    color: white; 
    border-radius: 10px;
}
.prompt{
    max-width: 900px;
    margin: 40px auto;
    padding: 20px 32px;
    background: #5495E4;     
    color: black;          
    border: 6px solid #2D4BC6;
    border-radius: 9999px;    
    text-align: center;
    font-size: 18px;
}
.video-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.video-container video {
    width: 100%;        
    max-width: 800px;  
    border-radius: 10px;
}

  
.next-button { 
    position: fixed;
    right: 16px;
    bottom: 16px;

    display: inline-flex;           
    align-items: center;
    justify-content: center;

    min-width: 100px;              
    padding: 18px 50px;
    box-sizing: border-box;

    font-size: 15px;
    background: #7EB256;     
    color: #386E41;          
    border: 3px solid #386E41;
    border-radius: 9999px;   
    text-align: center;
}
.next-button:hover {
    filter: brightness(0.90);
  }
body {
    margin: 0;
    background-color: #80B4D5;
}