

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: work-sans, sans-serif;
}


header {
    width: 100%;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #121244;
    color: white;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;  
}


#navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

#navbar li {
    list-style: none;
    display: flex;
    gap: 10px;
    border-radius: 15px;
    background-color: black;
    padding: 10px;
    font-size: 0.75rem;
}


main {
    min-height: calc(100vh - 60px);
    display: flex;


    background-color: #E561A5;


    background-image:
        url('./images/dashboard.png'),
        linear-gradient(to right, #E561A5 0%, #E561A5 49.9%, #80B4D5 50.1%, #80B4D5 100%);


    background-size:
        contain,    
        100% 100%; 
    
    background-position:
        center,
        center;

    background-repeat:
        no-repeat,
        no-repeat;
}


.divider {
    width: 0;
}


.left-section,
.right-section {
    flex: 1;
    display: flex;
    justify-content: center;
}


.left-section {
    align-items: flex-start;  
    padding-top: 8vh;       
}


.right-section {
    align-items: flex-end;  
    padding-bottom: 8vh;     
}


.huntrix-button,
.sajaboy-button {
    background-color: #d3d3d3;
    color: #666;
    border: none;
    border-radius: 15px;
    padding: 20px 40px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}

.huntrix-button a,
.sajaboy-button a {
    color: #666;
    text-decoration: none;
}



