body {
    margin: 0;
    padding: 0;
    background-color: #CE8CC8;
}

header {
    width: 100%;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #121244;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

#navbar a{
    color: white;
    text-decoration: none;
    font-family: work-sans, sans-serif;
    font-size: 1.5rem;
}
 
#navbar li{
    color: white;
    font-family: work-sans, sans-serif;
    list-style: none;
    display: flex;
    gap: 10px;
    border-radius: 15px;
    background-color: black;
    padding: 10px;
    text-align: center;
    font-size: 0.75rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
    gap: 40px;
}

#login-form{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    height: 100vh;
    background-color: #121244;
    width: 20%;
    height: 30%;
    border-radius: 15px;
    padding: 40px;
    margin: 20px;
    color: white;
    font-family: work-sans, sans-serif;
    font-size: 1.2rem;
    text-align: center;
}


#image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: auto;
    padding-bottom: 20px;
}

#image-container img {
    max-width: 1000px;
    height: auto;
}
