body {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.pg-bgcolor {
    background-color:rgba(229, 97, 165, 1);
}
.txt-capsule {
    background-color:rgb(207, 71, 141);   /* blueviolet background */
    color: black;                /* Black text */
    border: 4px solid rgba(175, 39, 109, 1);
    padding: 26px 50px;          /* Vertical and horizontal padding */
    border-radius: 85px;         /* Makes it capsule-shaped */
    display: inline-block;       /* Fits tightly around the text */
    font-size: 17px;
    line-height: 1.5;
    text-align: center;
    box-shadow: 6px 6px 3px rgba(60, 1, 32, 0.247) /*right, bottom, thickness, opacity of dropdown*/
  }
  .next-capsule {
    background-color:rgba(126, 178, 86, 1);   /* lawngreen background */
    color: rgba(56, 110, 65, 1); 
    border: 4px solid rgba(56, 110, 65, 1);   /*adds a border*/ 
    padding: 7px 60px;          /* Vertical and horizontal padding */
    border-radius: 25px;         /* Makes it capsule-shaped */
    display: inline-block;       /* Fits tightly around the text */
    font-size: 18px;            /*font size of NEXT bar*/
    text-align: center;
    position:fixed;             /*capsule will stay exactly where it is*/
    bottom:30px;
    right:30px;
    box-shadow: 4px 6px 3px rgba(60, 1, 32, 0.3) /*right, bottom, thickness, opacity of dropdown*/
  }
  .next-capsule:hover{
    background-color: rgb(134, 189, 93);  /*makes buttons change color when cursor hovers*/
  }
  .logIn-button {
    background-color: black;
    color: white;
    border-radius: 8px;         /*capsule shape characteristic*/
    padding:10px;
    margin-right:13px;
  }
  .header-box {
    background-color: rgba(18, 18, 68, 1);
    padding:13px;;
    display: flex; /*helps with vertical placement*/
    color: white; /*text on top bar*/
    font-size: 14px;
  }
  .practice-image{
    display: block;
    margin: 0 auto; 
    width:43%; /*percent version will make button resize when screen size changes*/
    border-radius: 10px;
  }
  .vertical-image{
    display: block;
    margin: 0 auto; 
    width:30%; /*percent version will make button resize when screen size changes*/
    border-radius: 10px;
  }


