body {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.pg-bgcolor {
    background-color:rgba(229, 97, 165, 1);
}
.logIn-button {
    background-color: black;
    color: white;
    border-radius: 8px;         /*capsule shape characteristic*/
    padding:10px;
    margin-right:13px;
}
.header-box {
    background-color: rgba(18, 18, 68, 1);
    padding:13px;;
    display: flex; /*helps with vertical placement*/
    color: white; /*text on top bar*/
    font-size: 14px;
}
.next-capsule {
    background-color:rgba(126, 178, 86, 1);   /* lawngreen background */
    color: rgba(56, 110, 65, 1); 
    border: 4px solid rgba(56, 110, 65, 1);   /*adds a border*/ 
    padding: 7px 60px;          /* Vertical and horizontal padding */
    border-radius: 25px;         /* Makes it capsule-shaped */
    display: inline-block;       /* Fits tightly around the text */
    font-size: 18px;            /*font size of NEXT bar*/
    text-align: center;
    position:fixed;             /*capsule will stay exactly where it is*/
    bottom:30px;
    right:30px;
    box-shadow: 4px 6px 3px rgba(60, 1, 32, 0.3) /*right, bottom, thickness, opacity of dropdown*/
 }
.next-capsule:hover{
    background-color: rgb(134, 189, 93);  /*makes buttons change color when cursor hovers*/
}


.bubble-container {
    display:flex;
    flex-direction:column;
    align-items:center;   /* center rows as a group */
    gap:25px;  /*gap between both bubbles*/
    margin-top:27px; /*gap between top bubble and navbar*/
}
.bubble-row {
    display:flex;
    align-items:center;   
    justify-content:center; 
    gap:-10px;  
    width:auto;     
}
.row-left { 
    margin-right: 30%; /*moves top bubble to the left when increased*/
} 
.row-right { 
    margin-left: 30%;  /*moves bottom bubble to the right when increased*/
}
.bubble {
    background-color:rgb(207, 71, 141);
    color:black;
    border: 4px solid rgba(175, 39, 109, 1);
    border-radius: 94px;
    padding: 13% 34%;
    font-size: 24px;
    text-align: center;
    position: relative;
    box-shadow: 6px 6px 3px rgba(60, 1, 32, 0.247);
}
.bubble-second{
    z-index: 100;
}
.bubble-left::after {   /*left tail on top bubble*/
    content:"";
    position:absolute;
    bottom: 9%;
    left: -8%;
    width: 10%;
    height: 23%;
    background-color:rgb(207, 71, 141);
    border:4px solid rgba(175, 39, 109, 1); 
    border-right:none;
    border-radius:0 0 0 60px;
    transform:rotate(-22deg);
}
.bubble-right::after {  /*right tail on bottom bubble*/
    content:"";
    position:absolute;
    /* bottom:20px; 
    right:-44px;
    width:50px; 
    height:40px; */
    bottom: 7%;
    right: -8%;
    width: 10%;
    height: 23%;
    background-color:rgb(207, 71, 141);
    border:4px solid rgba(175, 39, 109, 1); 
    border-left:none;
    border-radius:0 0 60px 0;
    transform:rotate(22deg);
}
.icon{ 
    width:47%; /*sizing of the images*/
    margin-top:-5%;
    transform: scaleX(1);/*stretch*/
    z-index: "10000";
}
.answer-box{
    background-color: rgb(250, 139, 197);
    color: black;
    padding: 5% 0%;
    font-size: 15px;
}
.img-hor {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

@media screen and (max-width: 1000px) {
.bubble-container {
    display:flex;
    flex-direction:column;
    align-items:center;   /* center rows as a group */
    gap:50px;
    margin-top:40px;
}
} 
@media screen and (max-width: 600px) {
.bubble-container {
    display:flex;
    flex-direction:column;
    align-items:center;   /* center rows as a group */
    gap:80px;
    margin-top:60px;
    }
.bubble {
    background-color:rgb(207, 71, 141);
    color:black;
    border: 4px solid rgba(175, 39, 109, 1);
    border-radius: 94px;
    /*padding: 74px 204px;*/
    padding: 15% 34%;
    font-size: 20px;
    text-align: center;
    position: relative;
    box-shadow: 6px 6px 3px rgba(60, 1, 32, 0.247);
    }
.row-right { 
    margin-left: 15%; 
}
} 

/*everything below is for the incorrect answer screen only */
.image {
    display: flex;
    justify-content: center;  
    align-items: center;
    height: 500px;  
  }
/* ribbon banner */
.ribbon{
    position: fixed;
    left: 51%;
    top: 68%;                     /* adjust vertical spot */
    transform: translate(-50%, -50%) rotate(-6deg);
    width: 25%;
    text-align: center;
    background: #E2DADA;
    border: 3.5px solid black;
    padding: 40px 100px 40px 100px;
  }
  
/* ribbon text */
.ribbon span {
    display: block;
    font-weight: 800;
    font-size: clamp(22px, 3.2vw, 48px);
    color: #1b1b1b;
    letter-spacing: 0.5px;
}