.header {
    background-color: #121244;
    font-size: 18px;
    position: sticky;
    color: white;
    width: 100vw;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    place-items:center;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.header-login { 
    font-size: 15px;
    width: 100px;
    height:30px;
    background-color: black; 
    color: white; 
    border-radius: 10px;
}
  
.next-button { 
    position: fixed;
    right: 16px;
    bottom: 16px;

    display: inline-flex;           
    align-items: center;
    justify-content: center;

    min-width: 100px;              
    padding: 18px 50px;
    box-sizing: border-box;

    font-size: 15px;
    background: #7EB256;     
    color: #386E41;          
    border: 3px solid #386E41;
    border-radius: 9999px;   
    text-align: center;   
}
.next-button:hover {
    filter: brightness(0.90);
  }
body {
    margin: 0;
    background-color: #80B4D5;
}


.bubble-container{
    display:flex;
    flex-direction:column;
    align-items:center;   /* center rows as a group */
    gap:10px;
    margin-top:40px;
  }
  
  .bubble-row{
    display:flex;
    align-items:center;   
    justify-content:center; 
    gap: -10px;
    width:auto;     
  }
  .row-left  { 
    margin-right: 100px; 
} 
  .row-right  { 
    margin-left: 150px; 
}

  .bubble{
    position:relative;
    padding:80px 200px;
    background:#5495E4;
    border:4px solid #2D4BC6;
    border-radius:80px;
    font-size:35px;
    color:black;
    text-align:center;
  }
 

  .bubble-left::after{
    content:"";
    position:absolute;
    bottom:20px; 
    left:-44px;
    width:50px; 
    height:40px;
    background:#5495E4;
    border:4px solid #2D4BC6; 
    border-right:none;
    border-radius:0 0 0 60px;
    transform:rotate(-22deg);
  }
  .bubble-right::after{
    content:"";
    position:absolute;
    bottom:20px; 
    right:-44px;
    width:50px; 
    height:40px;
    background:#5495E4;
    border:4px solid #2D4BC6; 
    border-left:none;
    border-radius:0 0 60px 0;
    transform:rotate(22deg);
  }
  

  .icon{ 
    width:300px; 
    transform: scaleX(1);
}
  