/* 
  background color: #80B4D5
  secondary color: #5495E4
  outline color: #2D4BC6
  next button color: #7EB256
  next button outline color: #386E41
*/

body {
  background-color: #80b4d5;
  margin: 0;
}

#start-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: black solid 2px;
}
#next-container,
#submit-container {
  display: none;
  justify-content: flex-end;
  padding-right: 20px;
}
#start-button {
  height: 75px;
  width: 100px;
  font-size: 20px;
}
#next-button,
#submit-button {
  position: fixed;
  right: 16px;
  bottom: 16px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 100px;
  padding: 18px 50px;
  box-sizing: border-box;

  font-size: 15px;
  background: #7eb256;
  color: #386e41;
  border: 3px solid #386e41;
  border-radius: 9999px;
  text-align: center;
  font-family: "Baloo 2", sans-serif;
}
#next-button:hover {
  filter: brightness(0.9);
}
#prompt-container,
#feedback-container {
  background-color: #5495e4;
  border: #2d4bc6 solid 4px;
  border-radius: 40px;
  width: 90vw;
  margin: auto;
  margin-top: 30px;
  display: none;
  padding: 10px;
  align-items: center;
  justify-content: center;
  height: fit-content;
  max-height: 15vh;
}
p {
  font-family: "Baloo 2", sans-serif;
  font-size: 20px;
  text-align: center;
}
#num-step-title {
  font-family: "Baloo 2", sans-serif;
}
#saja-boys-img {
  display: none;
  margin: auto;
  height: 60vh;
  padding: 20px;
}
#question {
  font-size: 50px;
}

.bubble-container {
  display: none;
  flex-direction: column;
  align-items: center; /* center rows as a group */
  gap: 10px;
  margin-top: 40px;
}

.bubble-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: -10px;
  width: auto;
}
.row-left {
  margin-right: 100px;
}
.row-right {
  margin-left: 150px;
}

.bubble {
  position: relative;
  padding: 80px 200px;
  background: #5495e4;
  border: 4px solid #2d4bc6;
  border-radius: 80px;
  font-size: 35px;
  color: black;
  text-align: center;
}

.bubble-left::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: -44px;
  width: 50px;
  height: 40px;
  background: #5495e4;
  border: 4px solid #2d4bc6;
  border-right: none;
  border-radius: 0 0 0 60px;
  transform: rotate(-22deg);
}
.bubble-right::after {
  content: "";
  position: absolute;
  bottom: 20px;
  right: -44px;
  width: 50px;
  height: 40px;
  background: #5495e4;
  border: 4px solid #2d4bc6;
  border-left: none;
  border-radius: 0 0 60px 0;
  transform: rotate(22deg);
}
.icon {
  width: 300px;
  transform: scaleX(1);
}
#error-image {
  display: none;
  justify-content: center;
  align-items: center;
  height: 500px;
}
/* ribbon banner */
#ribbon {
  position: absolute;
  left: 50%;
  top: 60%; /* adjust vertical spot */
  transform: translate(-50%, -50%) rotate(-6deg);
  width: 300px;
  text-align: center;
  background: #e2dada;
  border: 3.5px solid black;
  padding: 40px 100px 40px 100px;
  display: none; 
}

/* ribbon text */
#ribbon-span {
  display: none; /*orginally block*/
  font-weight: 800;
  font-size: clamp(22px, 3.2vw, 48px);
  color: #1b1b1b;
  letter-spacing: 0.5px;
}
