body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: work-sans, sans-serif;
    background-color: #CE8CC8;
}

header {
    width: 100%;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #121244;
    color: pink;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;   
}


#navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

#navbar li {
    list-style: none;
    display: flex;
    gap: 10px;
    border-radius: 15px;
    background-color: black;
    padding: 10px;
    font-size: 0.75rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: calc(100vh - 60px);
    position: relative;
    padding-top: 60px;
}

#signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121244;
    width: 320px;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    color: white;
    font-size: 1.1rem;
    text-align: center;

    position: relative;
    z-index: 2;
}

#signup-form input {
    width: 80%;
}

#signup-btn {
    margin-top: 10px;
    padding: 6px 12px;
}


#image-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1;
    pointer-events: none; 
}

#image-container img {
    max-height: 400px;
    height: auto;
}
